  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      background-color: cornflowerblue;
  }

  .container {
      margin: 3rem auto;
      display: flex;
      flex-wrap: wrap;
  }

  .cella {
      width: 100px;
      height: 100px;
      border: 3px solid white;
  }

  .easy_cont {
      width: 1000px;
      min-width: 1000px;
  }

  .medium_cont {
      width: 900px;
      min-width: 900px;
  }

  .hard_cont {
      width: 700px;
      min-width: 700px;
  }

  .buttons {
      margin: 3rem auto;
      text-align: center;
  }